body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.Header {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.Main {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -9999999;
}

h1 {
  font-family: 'Outfit';
  font-size: 450px;
  margin: 0;
  position: absolute;
  z-index: -1;
}

#driver {
  height: 1000px;
}

.Header > img {
  height: 57px;
}

.Footer {
  display: flex;
  width: 100%;
  height: 123px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,255,255,0.48);
  backdrop-filter: blur(15px);
}

.navigation {
  display: flex;
  width: 90px;
  justify-content: space-evenly;
}

.navigation > img {
  height: 35px;
}
